<%#= render "title_search_box" %>
<div class="column">
  <h5>
    <a class="show-advanced-search">Advanced Search: <span class="fi-plus"/></a>
  </h5>
</div>

<!-- scripts for google maps -->
<script src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" type="text/javascript">
</script>
<script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'>
</script>

<!-- gmaps rendering -->
<div style='width: 800px;'>
    <div id="map" style='width: 800px; height: 400px;'>
    </div>
</div>

<!-- code from http://apneadiving.github.io/ -->
<script type"text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    });
</script>

<!-- advanced search form -->
<div class="column">
  <div class="advanced-search hide form-container glassy-bg columns">
    <a class="close-advanced-search fi-x"></a>
    <h4>Advanced Search:</h4>
    <%= search_form_for @search do |f| %>
      <%= f.condition_fields do |c| %>
        <div class="large-4 small-4 columns">
          <%= c.attribute_fields do |a| %>
            <%= a.attribute_select nil, class: "radius" %>
          <% end %>
        </div>
        <div class="large-4 small-4 columns">
          <%= c.predicate_select Hash.new, class: "radius" %>
        </div>
        <div class="large-4 small-4 columns">
          <%= c.value_fields do |v| %>
            <%= v.text_field :value, class: "radius" %>
          <% end %>
        </div>
      <% end %>
      <h5>Sort</h5>
      <div class="column">
      <%= f.sort_fields do |s| %>
        <%= s.sort_select Hash.new, class: "large-5 small-4 columns mrs radius" %>
      <% end %>
      </div>
      <%= f.submit "Search", class: "radius button" %>
    <% end %>
  </div>
</div>

<h4 class="column">Featured Races</h4>
  <div class="row right padm">
    <div class="column">
      <div class="filter-label red radius">
        <%= sort_link @search, :name %>
      </div>
      <div class="filter-label dark-golden-rod">
        <%= sort_link @search, :country, "Country" %>
      </div>
      <div class="filter-label dark-slate-gray">
        <%= sort_link @search, :event_date, "Event Date" %>
      </div>
    </div>
  </div>

  <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>City</th>
      <th>Country</th>
      <th>Kind</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Event date</th>
      <th>Part of the world</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @marathons.each do |marathon| %>
      <tr>
        <td><%= marathon.name %></td>
        <td><%= marathon.city %></td>
        <td><%= marathon.country %></td>
        <td><%= marathon.kind %></td>
        <td><%= marathon.latitude %></td>
        <td><%= marathon.longitude %></td>
        <td><%= marathon.event_date %></td>
        <td><%= marathon.part_of_the_world %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


  <% if false %>
  <div class="column">
    <ul class="movies-grid no-bullet row">
      <% @movies.each do |movie| %>
        <li class="large-3 medium-4 small-12 column">
          <div class="movie-card padly">
            <%= link_to movie, class: "poster" do %>
              <%= image_tag movie.name %>
            <% end %>
            <div class="movie-info ell glassy-bg padmy padlx">
              <div class="title">
                <h6><%= movie.name %> <span>(<%= movie.event_date %>)</span></h6>
              </div>
              <p class="left price label movie-label radius">$ <%= movie.country %></p>

            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
  <% end %>
