<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @marathon.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @marathon.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @marathon.country %>
</p>

<p>
  <strong>Date description:</strong>
  <%= @marathon.date_description %>
</p>

<p>
  <strong>Month:</strong>
  <%= @marathon.month %>
</p>

<p>
  <strong>Year:</strong>
  <%= @marathon.year %>
</p>

<p>
  <strong>Day:</strong>
  <%= @marathon.day %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @marathon.kind %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @marathon.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @marathon.longitude %>
</p>

<p>
  <strong>Event date:</strong>
  <%= @marathon.event_date %>
</p>

<p>
  <strong>Part of the world:</strong>
  <%= @marathon.part_of_the_world %>
</p>

<%= link_to 'Edit', edit_marathon_path(@marathon) %> |
<%= link_to 'Back', marathons_path %>
